body {
  background-color: black;
  color: red;
}

.boss-img {
  width: 100%;
  object-fit: cover;
  height: 75vh;
  object-position: top center;
}

.hero-img {
  width: 100%;
  object-fit: cover;
  height: 60vh;
  object-position: top center;
}

